@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Rubik:wght@400;500;600;700&display=swap');



*{
  margin: 0;
  
}

.btn{
  padding: 8px 20px;
  border: #FA5E5A;
  background-color: #FA5E5A;
  border-radius: 2rem;
  color: #fff;
  font-size: large;
}

a{
  text-decoration: none;
  cursor: pointer;
  }

  html{
    scroll-behavior:smooth ;
  }

  ul{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    }
  
  li{
    list-style-type: none;
    text-decoration: none;
  }

  body{
    margin: 0 !important;
    font-family: var(--font-name);
    background-image: linear-gradient(to right top, #ae55b4, #a86bc2, #a37fcc, #a090d3, #a2a0d7, #9da0d2, #98a0cc, #959fc6, #8590b8, #7480aa, #64719c, #54638e);
  }
:root{
  --font-name: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    
  
}

